<!-- Контейнер для карты -->
<div class="map-container">
  <div #chartdiv id="chartdiv"></div>
</div>

<!-- Фон модального окна -->
<div *ngIf="selectedCountryISO" class="modal-backdrop" (click)="closeModal()"></div>

<!-- Модальное окно -->
<div *ngIf="selectedCountryISO" class="modal">
  <button class="close-btn" (click)="closeModal()">×</button>
  
  <h3>{{ selectedCountryName }}</h3>
  
  <div [innerHTML]="countryInfo" class="country-info"></div>
  
  <div class="modal-buttons">
    <button class="visited-btn" (click)="setStatus('visited')">Посещено</button>
    <button class="wishlist-btn" (click)="setStatus('wishlist')">Хочу посетить</button>
    <button class="none-btn" (click)="setStatus('none')">Убрать метку</button>
    <button class="info-btn" (click)="onAskCountryInfo()">Информация о стране  AI</button>
  </div>
</div>