footer.footer {
    background: #1a2039;
    padding: 1rem 2rem;
    border-top: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
  }
  
  footer.footer p {
    margin: 0;
  }
  
  .social-links {
    display: flex;
    align-items: center;
  }
  
  .social-links a {
    color: #ffffff;
    margin-left: 1rem;
    transition: color 0.3s ease;
    font-size: 1.5rem; /* Увеличим размер иконок для лучшего отображения */
  }
  
  .social-links a:hover {
    color: #0077b5; /* LinkedIn blue as a hover accent */
  }
  
  /* Чтобы иконки располагались красиво */
  .social-links i {
    vertical-align: middle; /* Выровняем иконки по центру */
  }
  